*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}


.container{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: #F8F8FF;
}


i{
  padding: 5px;
  font-size: 24px;
  color: #E45858;
}


header{
  position: relative;
  width: 100%;
  height: 532px;
  padding: 100px 0;
}
header > div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 1;
  text-align: center;
}
header > div > .title > span{
  color: #E45858;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
header > div > .title > h1{
  max-width: 647px;
  color: #121214;
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
}
header > div > .title > h1 em{
  color: #6246EA;
  
font-style: normal;
  font-size: 48px;
  font-weight: 700;
  line-height: 125%;
}
header > div > .search{
  max-width: 993px;
  display: flex;
  gap: 24px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background-color: #FFF;
}
header > div > .search > div{
  background-color: #F4F4FF;
  width: 348px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
header > div > .search >div > input,
header > div > .search >div > select{
  background-color: #F4F4FF;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #7C7C8A;
  font-size: 16px;
  font-weight: 400;
}
header > div > .search >div > select > option{
  background-color: #F4F4FF;
  width: calc(100%+24px);
  height: 100%;
  border: none;
  outline: none;
  color: #7C7C8A;
  font-size: 16px;
  font-weight: 400;
}
header > div > .search > button{
  width: 169px;
  height: 48px;
  border: none;
  background-color: #6246EA;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 12px 28px;
  cursor: pointer;
}
header > img{
  position: absolute;
}
header > .banner-top{
  top: 0;
  left: 0;
}
header > .banner-bottom{
  bottom: 0;
  right: 0;
}


.content{
  margin-top: 100px;
}
.content > .content-title{
  padding: inherit;
  margin: 0 auto;
  max-width: 1213px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  }
.content > div >h2{
  color: #121214;
  font-size: 32px;
  font-weight: 700;
}
.content > .content-title >div{
  width: 190px;
  height: 48px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content > .content-title > div > button{
  width: 86px;
  height: 32px;
  border: none;
  background-color: #fff;
  color: #6246EA;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 2px;
}
.content > .content-title > div > .active{
  background-color: #6246Ea;
  color: #fff;
}
.content > .content-title > div > button:hover{
  border: solid 2px #6246Ea;
  cursor: pointer;
}
.content > .blocks{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  gap: 32px ;
  padding-bottom: 100px;
}
.content > .blocks >article{
  max-width: 384px;
  height: 323px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  overflow: hidden;
}
.content > .blocks >article:hover{
  cursor: pointer;
  scale: 1.1;
}

.content > .blocks > article > h3{
  color: #121214;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin: 16px 16px 16px 16px;
}
.content > .blocks > article > p{
  color: rgba(0, 0, 0, 0.75);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0 16px 16px 16px;
}
.content > .blocks > article > span{
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-weight: 400;
  margin: 0 16px 116px 8px;
  display: flex;
  align-items: center;
}



